name: Check

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-checks:
    name: python-${{ matrix.python-version }}, ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.12"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Check Python lint
        run: |
          uv run -- ruff check .

      - name: Check Python formatting
        run: |
          uv run -- ruff format --check .

      - name: Check packaging
        run: |
          uv lock --check
