name: Test

env:
  # Enable colored output for pytest
  # https://github.com/pytest-dev/pytest/issues/7443
  # https://github.com/actions/runner/issues/241
  PY_COLORS: 1

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  python-tests:
    name: python-${{ matrix.python-version }}, ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

      fail-fast: false

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: true
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: |
          uv run -- pytest tests
